body {
    color: #333;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern";
    margin-left: 7%;
    margin-right: 50%;
    width: 875px;    
    background-color: #d6dcde;
}

.listetop {
    background: #9E0B0F;
    outline: none;
    padding-left: 0px;
    width: 875px;
}
.listetop a{
    color: white;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none;
}

.ueberblick{
padding-left: 90px;
}

div{
    width: 80%

}

.header{
    background: #BB131A;
    position: relative;
    display: block;
}

.listetop li {
    display: inline-block;
    font-size: 14px;    
    margin-block-end: 8px;
    margin-top: 8px;
    padding-left: 23px;
}



.vorarlberglogo{
    width: 875px;    
    height: 75px;
    background: #BB131A;
    color: #ffffff;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-weight: 300;
    font-size: 1.625rem;
    display: inline-block;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    display: flex;

}
.vorarlbergschriftzug {
    margin-left: 30px;
    text-decoration: none;
}
.vorarlberglogo img{
    width: 101px;
    margin-top: 12px;
}

.difcolors{
    background: #D32824;
    border-bottom: 3px solid #E94E38;
    height: 8px;
    width: 875px;    
}

.underlogo{
    background-color: #790000;
    width: 875px;
    height: 29px;

}

.underlogo a{
    text-decoration: none;
    color: #ffffff;
    font-family: "ORF ON Condensed","Helvetica Condensed","Helvetica Neue Condensed","Arial Narrow",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    font-weight: bold;

}

.underlogo li {
    display: inline-block;
    font-size: 14px;    
    margin-block-end: 8px;
    margin-top: 4px;
    padding-left: 23px;
    justify-content: space-between;
}